<form class="{{cssClass}}" autocomplete="off" style='width:500px;height:500px;'>
  <section class="window-content">
  <div class="import-file-selector" style="display:flex;">
    <div>
      <input type="file" name="data" accept=".zip" />
    </div>
  </div>
  <div style="display: flex;">
      <div  style="white-space: nowrap;">
        <input  type="checkbox" id="importWebpImages" name="imports" value="/" data-name="WebpImage" data-type="webp" data-itemtype="" />
        <label  for="importWebpImages">*.webp</label><br />
      </div>
      <div class="import-progress WebpImage import-hidden">
        <div class="import-progress-bar" style="width: 0%; color: white;"></div>
      </div>
  </div> 
  <div style="display: flex;">
      <div  style="white-space: nowrap;">
        <input  type="checkbox" id="importPngImages" name="imports" value="/" data-name="PngImage" data-type="png" data-itemtype="" />
        <label  for="importPngImages">*.png</label><br />
      </div>
      <div class="import-progress PngImage import-hidden">
        <div class="import-progress-bar" style="width: 0%; color: white;"></div>
      </div>
  </div>
  <div style="display: flex;">
      <div  style="white-space: nowrap;">
        <input  type="checkbox" id="importJpgImages" name="imports" value="/" data-name="JpgImage" data-type="jpg" data-itemtype="" />
        <label  for="importJpgImages">*.jpg</label><br />
      </div>
      <div class="import-progress JpgImage import-hidden">
        <div class="import-progress-bar" style="width: 0%; color: white;"></div>
      </div>
  </div>  
  <div style="display: flex;">
      <div  style="white-space: nowrap;">
        <input  type="checkbox" id="importGifImages" name="imports" value="/" data-name="GifImage" data-type="gif" data-itemtype="" />
        <label  for="importGifImages">*.gif</label><br />
      </div>
      <div class="import-progress GifImage import-hidden">
        <div class="import-progress-bar" style="width: 0%; color: white;"></div>
      </div>
  </div>
  <div>
  <textarea readonly name="log" form="usrform" style='height:250px;'></textarea>
  </div>
  <div>
   <div>
    <button class="dialog-button" data-button="import">
      <i class="fas fa-file-import"></i>
      {{localize "SWFFG.ImportFile"}}
    </button>
  </div>
  </div>
  </section>
</form>